<header>
	<div class="container-fluid">
		<nav class="navbar navbar-default">
			<div class="row-fluid" style="padding:0;">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse navbar-menu" id="bs-example-navbar-collapse-1" style="padding: 0;">
					<div class="container" style="padding: 0;">
						<ul class="nav navbar-nav" style='width: 100%;'>
							<li>
								<a href=""><i class="glyphicon glyphicon-home"></i> Início</a>
							</li>

							<li>
								<a class="botao-menu"><i class="glyphicon glyphicon-usd"></i> Sorteios <span class="caret"></span></a>
								<ul class="dropdown-menu drop-menu">
									<li>
										<a href="">Loteria</a>
									</li>
									<li>
										<a href="">Roletas</a>
									</li>
									<li>
										<a href="">Tickets Premiados</a>
									</li>
									<li>
										<a href="">Roletas Premiadas</a>
									</li>
									<li>
										<a href="">Meus Sorteios</a>
									</li>
								</ul>
							</li>

							<li>
								<a class="botao-menu "><i class="glyphicon glyphicon-usd"></i> Rankings <span class="caret"></span></a>
								<ul class="dropdown-menu drop-menu">
									<li>
										<a href="">Nível</a>
									</li>
									<li>
										<a href="">Tickets</a>
									</li>
									<li>
										<a href="">Faturamento</a>
									</li>
									<li>
										<a href="">Ganhadores</a>
									</li>
									<li>
										<a href="">Indicações</a>
									</li>
								</ul>
							</li>

							<!--                            <li class="dropdown">
															<a><i class="glyphicon glyphicon-question-sign"></i> Como Funciona</a>
														</li>-->

							<li class="dropdown">
								<a href=""><i class="glyphicon glyphicon-tags"></i> &nbsp;Comprar Tickets</a>
							</li>

							<li class="dropdown pull-right">
								<a class="col-xs-12" title="Sair" href=""><i class="glyphicon glyphicon-log-out"></i> Sair</a>
							</li>

							<li class="pull-right">
								<a href="" title="Painel ADM">
									<i class="glyphicon glyphicon-king"></i> <b>ADM</b>
								</a>
							</li>

							<li class="dropdown pull-right">
								<a href=""><i class="glyphicon glyphicon-user"></i> Cadastro</a>
							</li>

							<li class="dropdown pull-right">
								<a class="col-xs-12" title="Sair" href=""><i class="glyphicon glyphicon-log-out"></i> Sair</a>
							
								<a class="col-xs-12 "><i class="glyphicon glyphicon-log-in"></i> Entrar</a>
							</li>

							<li class="pull-right">
								<a href="">
									<i class="glyphicon glyphicon-user"></i> Minha Conta
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>